{% extends 'base.html' %}

{% block content %}

<p>Are you a young woman interested in STEM? Well, you have found the right place!
L3ading LaDies is originally a Girl Scout Gold Award project that opens the door to young women who may 
want to try out Science Technology Engineering and Mathamatics, or STEM. This is a program that teaches, 
primarily girls, what 3D printing is, how it can be applied to their lives, and can open their eyes to 
a future in technology. </p>

<p> Erika Toliao, the founder of this activity, is a young woman pursuing STEM. She noticed while 
    applying to colleges that there were few women in her computer science program. The gears in 
    her mind started turning, and thus, L3ading LaDies was born. Not only did Erika want to change 
    the percentage of women in STEM in the world, but also wanted to give girls someone to look 
    up to in the field. Erika has accomplished many things in the technology world including 
    attending Applied Technology High School, a Bergen County Technical School, as well as winning 
    a state-wide research-in-STEM award. She hopes that she inspires more young people to go into 
    the technology field, focusing on all the young women out there!
</p>

{% endblock %}